*.js
!lib/central/resources/lambda/CR*/*
!lib/central/resources/lambda/Get*/*
!lib/central/resources/lambda/Sync*/*
!lib/central/resources/lambda/LFTag*/*
!lib/central/resources/lambda/Workflow*/*
!lib/central/resources/lambda/Derive*/*
!lib/central/resources/lambda/DataQuality*/*
!lib/central/resources/lambda/Register*/*
!lib/central/resources/lambda/Validate*/*
!lib/central/resources/lambda/Update*/*
!lib/central/resources/lambda/Nrac*/*
!lib/central/resources/lambda/Tbac*/*
!lib/central/resources/lambda/Authenticated*/*
!lib/producer/resources/lambda/*/*
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
*-output.json